/*
* The custom styles for the site Theme.
*/

/* styles . . . */

/******************************************************
* Helper Styles / Misc
******************************************************/
@media only screen and (min-width: 1px) {
	.flex-valign,
	.flex-valign .mk-grid {
		display: block !important;
	}
}
@media only screen and (min-width: 700px) {
	.flex-valign,
	.flex-valign .mk-grid {
		display: flex !important;
		flex-direction: row;
		align-items: center;
	}
}
.textShadow {
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
.boxShadow {
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.6);
}
.hide {
    display: none !important;
    visibility: hidden !important;
}
.google-maps {
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
}
.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}